<div class="row" ng-controller="Cadastrar">
    <div class="col-md-12">
        <h3>Cadastro de Veículos</h3>
        <form action="/Cadastro/Adiciona" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Placa:</label>
                        <input class="form-control" pattern="[A-Z]{3}[-][0-9]{4}" title="Formato exigido: AAA-0000" placeholder="AAA-0000" name='veiculo.placa' id="placa" required>
                    </div>
                    <div class="col-md-6">
                        <label>Tipo de veículo:</label>
                        <select style="display:block;" name="veiculo.nomeTipo" required>
                            <option value="" disabled selected>Escolha</option>
                            @foreach (var tipo in ViewBag.TiposVeiculo)
                            {
                                <option value="@tipo.Nome">@tipo.Nome</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px 10px 10px 10px;">
                <div class="col-md-12">
                    <label>Proprietário:</label>
                    <input class="form-control" placeholder="Digite o nome do proprietário" name='veiculo.proprietario' id="proprietario" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="file" name="fotos[]" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" multiple />
                        </div>
                    </div>
                </div>
            </div>


            <div class="pull-right">
                <input class="waves-effect amber darken-3 btn" type="submit" value="Salvar">
                <a class="waves-effect amber darken-3 btn" href="">Cancelar</a>
            </div>
        </form>
    </div>
</div>