<div class="row" ng-controller="Cadastrar">
    <div class="col-md-12">
        <h3>Cadastro de Tipo de Veículos</h3>
        <form action="/Home/AdicionaTipoVeiculo" method="post">
            <label>Tipo de veículo:</label>
            <input class="form-control" placeholder="Tipo de veículo" name='tipo.nome' required>
            <div class="pull-right">
                <input class="waves-effect amber darken-3 btn" type="submit" value="Salvar">
                <a class="waves-effect amber darken-3 btn" href="">Cancelar</a>
            </div>
        </form>
    </div>
</div>
